<% conceptos = [
  ["Abono", "abono"],
  ["Ajuste Contable", "ajuste_contable"],
  ["Alquileres", "alquileres"],
  ["Cheque Depositado", "cheque_depositado"],
  ["Cheque Devuelto", "cheque_devuelto"],
  ["Comisión", "comision"],
  ["Cuota", "cuota"],
  ["Devolución", "devolucion"],
  ["Domiciliación", "domiciliacion"],
  ["Factura", "factura"],
  ["Giro", "giro"],
  ["Honorarios", "honorarios"],
  ["Interés por Crédito", "interes_credito"],
  ["Interés por Débito", "interes_debito"],
  ["Prestamos", "prestamos"],
  ["Pago de Servicio", "pago_servicio"],
  ["Retención", "retencion"],
  ["Seguros", "seguros"],
  ["Suscripcion", "suscripcion"],
  ["Transferencia Emitida", "transferencia_emitida"],
  ["Transferencia Recibida", "transferencia_recibida"],
  ["Varios", "varios"],
] %>
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5px;">
<h1 style="text-align: center;">Realizar Transferencia</h1>
  <form action="/transfer" method="post" style="text-align: center; width: 400px;  margin-bottom: 5px;">
    <% if @target.present? || params[:content_input]  %>
     <% if params[:content_input] %>
     <% @target = BankAccount.find_by(cvu: params[:content_input])&.id || BankAccount.find_by(alias: params[:content_input])&.id %>
     <%end%>
    <input type="hidden" id="destino" name="destino" value="<%= @target %>">
  <% else %>
    <p style="text-align: center; margin-bottom: 8px;">
      <strong>CVU o Alias destino:</strong>
      <input type="text" id="destino" name="destino" value="<%= params[:destino] %>">
    </p>
  <% end %>
    <p style=" margin-bottom: 8px;">
      <strong>Monto:</strong>
      <input type="number" id="amount" name="amount" step="0.01" min="0.01" required value="<%= params[:amount] %>">
    </p>
    <p style="text-align: center;  margin-bottom: 5px;">
      <strong>Motivo:</strong>
      <select  id="motivo" name="motivo">
      <% conceptos.each do |nombre, valor| %>
        <option value="<%= valor %>"><%= nombre %></option>
      <% end %>
    </select>
    
    <p style="text-align: center;">
      <strong>Descripción:</strong>
      <input type="text" id="descripcion" name="descripcion" required value="<%= params[:descripcion] %>">
    </p>
   
  <p style="text-align: center; margin-top: 8px;">
  <button type="submit">Enviar Transferencia</button>
  </p>
  <% if @error %>
   <div class = "mensaje"> <%= @error %> </div>
<% end %>
</form>
</div>
