<% conceptos = [
  ["Abono", "abono"],
  ["Cargo", "cargo"],
  ["Suscripción Negativa", "suscripcion_negativa"],
  ["Transferencia Recibida", "transferencia_recibida"],
  ["Transferencia Emitida", "transferencia_emitida"],
  ["Comisión", "comision"],
  ["Interés por Débito", "interes_debito"],
  ["Interés por Crédito", "interes_credito"],
  ["Retención", "retencion"],
  ["Devolución", "devolucion"],
  ["Pago de Servicio", "pago_servicio"],
  ["Domiciliación", "domiciliacion"],
  ["Ajuste Contable", "ajuste_contable"],
  ["Giro", "giro"],
  ["Cheque Depositado", "cheque_depositado"],
  ["Cheque Devuelto", "cheque_devuelto"],
  ["Varios", "varios"]
] %>
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5px;">
<h1 style="text-align: center;">Realizar Transferencia</h1>


  <form action="/transfer" method="post" style="text-align: center; width: 400px;  margin-bottom: 5px;">

    <p style="text-align: center;  margin-bottom: 8px;">
      <strong>CVU o Alias destino:</strong>
      <input type="text" id="destino" name="destino" required value="<%= params[:destino] %>">
    </p>
    <p style=" margin-bottom: 8px;">
      <strong>Monto:</strong>
      <input type="number" id="amount" name="amount" step="0.01" min="0.01" required value="<%= params[:amount] %>">
    </p>
    <p style="text-align: center;  margin-bottom: 5px;">
      <strong>Motivo:</strong>
      <select id="motivo" name="motivo">
      <% conceptos.each do |nombre, valor| %>
        <option value="<%= valor %>"><%= nombre %></option>
      <% end %>
    </select>
    
    <p style="text-align: center;">
      <strong>Descripción:</strong>
      <input type="text" id="descripcion" name="descripcion" required value="<%= params[:descripcion] %>">
    </p>
   
  <p style="text-align: center; margin-top: 8px;">
  <button type="submit">Enviar Transferencia</button>
  </p>
  <% if @error %>
   <div class = "mensaje"> <%= @error %> </div>
<% end %>
</form>
</div>
