<div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
<h1 style="text-align: center;">Realizar Transferencia</h1>

<% if @error %>
  <div class="error-message">
    <%= @error %>
  </div>
<% end %>

  <form action="/transfer" method="post" style="text-align: center; width: 300px;">

    <p style="text-align: center;"><br>
      <strong>CVU o Alias destino:</strong>
      <input type="text" id="destino" name="destino" required value="<%= params[:destino] %>">
    </p>
    <p style="text-align: center;"><br>
      <strong>Monto:</strong>
      <input type="number" id="amount" name="amount" step="0.01" min="0.01" required value="<%= params[:amount] %>">
    </p>
    <p style="text-align: center;"><br>
      <strong>Motivo:</strong>
      <input type="text" id="motivo" name="motivo" value="<%= params[:motivo] %>">
    </p>
    <p style="text-align: center;"><br>
      <strong>Descripción:</strong>
      <input type="text" id="descripcion" name="descripcion" required value="<%= params[:descripcion] %>">
    </p>

  <p style="text-align: center; margin-top: 20px;">
  <button type="submit">Enviar Transferencia</button>
  </p>
</form>
</div>
