<div class="transaction">
  <div class="transaction-info">
    <div class="transaction-icon"><%= icon %></div>
    <div class="transaction-details">
      <div class="transaction-name"><%= name %></div>
      <div class="transaction-type"><%= type %></div>
    </div>
  </div>
  <div class="transaction-amount">
    <div class="<%= amount_class %>"><%= amount %></div>
    <div class="transaction-date"><%= date %></div>
  </div>
</div>